<!-- Header -->
<header id=mainHeader>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
         <img class="img-responsive" src="img/ben.jpg" alt="">
          <div class="intro-text">
            <span class="heading">Benjamin Kanouse</span>
            <hr class="star-light">
            <span class="skills">Software Engineer - Mathematician - Luthier - StarCraft Master</span>
            </div>
          </div>
      </div>
    </div>
</header>
<!-- Software -->
<section id=softwareSection>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Software</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <%= erb :item, locals: {title: "Blog", image: "img/sadpanda.gif", href: "#"} %>
      <%= erb :item, locals: {title: "Elliptic Curve Cryptography", image: "img/ecc.gif", href: "https://github.com/BenKanouse/ecc"} %>
      <%= erb :item, locals: {title: "MiniTest Bang", image: "img/bang.png", href: "https://rubygems.org/gems/minitest-bang/versions/1.0.4"} %>
    </div>
    <div class="row">
      <%= erb :item, locals: {title: "Cylinders of Excellence (Rails Rumble)", image: "img/cylinders.png", href: "http://cylindersofexcellence.r14.railsrumble.com/"} %>
      <%= erb :item, locals: {title: "WebAdMIT", image: "img/WebAdMIT.jpg", href: "http://www.liaisonedu.com/"} %>
    </div>
  </div>
  <br/>
</section>
<!-- Mathematics -->
<section class="success" id=mathSection>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Mathematics</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <%= erb :item, locals: {title: "Buoy in Lake Erie", image: "img/lake.png", href: "img/lake_erie_poster.pdf"} %>
      <%= erb :item, locals: {title: "Birefringence Persentation", image: "img/pmd1.png", href: "img/psu_birefringence.pdf"} %>
      <%= erb :item, locals: {title: "Birefringence Poster", image: "img/pmd2.png", href: "img/Birefringence_poster.pdf"} %>
    </div>
  </div>
  <br/>
</section>
<!-- Guitar -->
<section id=guitarSection>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Guitars</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <%= erb :item, locals: {title: "Guitar 1", image: "img/guitar1.jpg", href: "/guitar/1"} %>
      <%= erb :item, locals: {title: "Guitar 2 WIP", image: "img/guitar2.jpg", href: "#"} %>
    </div>
  </div>
  <br/>
</section>
<!-- StarCraft -->
<section class="success" id=starcraftSection>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>StarCraft</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <%= erb :item, locals: {title: "StarCraft", image: "img/masters_no_name.png", href: "http://us.battle.net/sc2/en/"} %>
    </div>
  </div>
  <br/>
</section>

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <br>Buffalo, NY</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.linkedin.com/in/benjamin-kanouse-22a7ba74"><img src="img/linkedin.png" class="socal-icon"/></a>
            </li>
            <li>
              <a href="https://github.com/BenKanouse"><img src="img/github.png" class="socal-icon"/></a>
            </li>
            <li>
              <a href="https://twitter.com/kanobt61"><img src="img/twitter.png" class="socal-icon"/></a>
            </li>
              <a href="https://www.facebook.com/benjamin.kanouse"><img src="img/facebook.png" class="socal-icon"/></a>
            <li>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Email</h3>
          <p>kanobt61@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; BenKanouse.com 2016
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="container">
  <a>Hello World</a>
</div>
